#colophon {
   background-color: #4286f4;
    width: 100vw;
    padding: 10px 10px 10px 10px;
   
}


.wii {
    display: flex;
	flex-direction: column;
	background-color: #7a9bbb;
	text-align: center;
    
    
   
}

.wii2 {
    display: flex;
	flex-direction: column;
	background-color: #7a9bbb;
	text-align: center;
    
    
   
}


.divFoot {
    width: 100%;
    padding: 1% 1% 1% 1%;
}


@media screen and (min-width: 600px){
    .wii {
    display: flex;
	flex-direction: row;
	background-color: #7a9bbb;
	text-align: center;
    
    
   
    }

    .wii2 {
        display: flex;
        flex-direction: row;
        background-color: #7a9bbb;
        text-align: center;



    }


    .divFoot {
        width: 50%;
        padding: 1% 1% 1% 1%;
    }
	
}



.custom-logo-link {
    width: 100vw;
}

.entry-footer {
    display: none;
}
