

#colophon {
   
    width: 100vw;
   
}


.wii {
    display: flex;
	flex-direction: column;
	background-color: #7a9bbb;
	text-align: center;
    padding-right: 20px;
}

.wii2 {
    display: flex;
	flex-direction: column;
	background-color: #7a9bbb;
	text-align: center;
    
    
   
}


.divFoot {
    width: 100%;
    padding:10px;
}


@media screen and (min-width: 600px){
    .wii {
    display: flex;
	flex-direction: row;
	background-color: #7a9bbb;
	text-align: center;
    
    
   
    }

    .wii2 {
        display: flex;
        flex-direction: row;
        background-color: #7a9bbb;
        text-align: center;
    }


    .divFoot {
        width: 50%;
       
    }
	
}



.custom-logo-link {
    width: 100vw;
}
