
#site-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
}

#primary-menu {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-right: 40px;
}

#primary-menu[aria-expanded="true"]{
	display: flex;
}

#primary-menu[aria-expanded="false"]{
	display: none;
}

.menu-item {
	list-style: none;
	border: solid;
	border-radius: 1px;
	border-color: #707070;
	text-align: center;
	width: 75vw;
	padding: 5px;
	margin-top: 10px;
	background-color: #e9eaed;
}

.menu-item a {
	color: black;
    text-decoration: none;
}

.menu-toggle{
	padding: 10px;
	width: 75vw;
	background-color: #AAB4C8;
	color: #E8EAED;
	font-size: 1.2em;
}

@media screen and (min-width: 600px){

	#primary-menu[aria-expanded="true"]{
		display: flex;
	}

	#primary-menu[aria-expanded="false"]{
		display: flex;
	}

	#primary-menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.menu-item {
		padding: 5px;
		margin-left: 10px;
		width: 20vw;
	}


	.menu-item:hover{
		border-radius: 10px;
		background-color: #7a9bbb;
	}

	.menu-item a:hover{
		color: #E8EAED;
	}

}

@media screen and (min-width: 850px){
	#primary-menu{
		display: flex;
		flex-wrap: nowrap;
	}

	.menu-item {
		width: 12vw;
	}

}