.post{
		border-bottom: solid;
		padding: 20px;
	}

.post h2{
		border-bottom: solid 2px;
	}

.entry-meta{
	text-align: left;
}

.posted-on, .byline{
	border-top: solid 1px;
}

.entry-title a{
	color: black;
}


@media screen and (min-width: 600px){
	.posted-on, .byline{
		border-top: solid 2px;
	}

	.post{
		border: solid;
		padding: 20px;
	}

	.post:hover{
		border-radius: 50px;
	}

	.post h2{
		border-bottom: solid 3px;
	}

	.entry-meta{
		display: all;
		text-align: right;
	}
}